@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1 style="color:red">Welcome to my WebSite V1</h1>

<h4>Adding this line after adding a new deployment slot  V3</h4>
