@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3 style="color:blueviolet">Use this page to detail your site's privacy policy.</h3>

<img src="/Images/p.jpg" alt="smiley" />